.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.stat {
    flex: 1;
}

h2 {
    font-size: 2rem;
    margin-bottom: .3rem;
}

.stat:first-child,
.stat:nth-child(2) {
    border-right: 2px solid var(--moderate-cyan);
}

.percentage {
    margin-top: 2rem;
    width: 100%;
    height: 13px;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
}

.inner-percentage {
    background-color: var(--moderate-cyan);
    height: 100%;
    border-radius: 15px;
    transition: all .5s ease;
}

@media (max-width: 600px) {
    .stats {
        flex-direction: column;
        text-align: center;
        gap: 1.3rem;
    }

    .stat:first-child,
    .stat:nth-child(2) {
        border-right    : none;
    }
}